/*body{
    background-image: url('3.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}*/
.box{
    display: flex;
    justify-content: center;
    width: auto;
    height: 50px;
    position: sticky;
    border:1px solid black;
    background-color: teal;
}
.box ul{
    display: flex;
    list-style: none;
}
.box ul li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    font-weight: bold;
}
.box ul li a{ 
    text-decoration: none;
   color: darkgray;
   padding: 8px 25px;
   transition: .8s; 
}
.box ul li a:hover{
    background-color: tomato;
    color: black;
    box-shadow: 0 0 10px black;
}
#kk{
    text-align: center;
    
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
}
#address{
    /* border: 5px solid black; */
    color: black;
    text-align: center;
    border: 2px groove white;
    background-color: rgb(216, 208, 208);
    width: 50%;
    margin-left: 25%;
    box-shadow: 9px 8px 10px black;
    transition: .9s;
}
#address:hover{
    color: brown;
    box-shadow: 6px 5px 8px black;
    background-color: teal;
}
.copyright{
    color: white;
    margin-top: 70px;
    float:inline-start;
}
#num{
    width:50%;
    margin-left: 25%;
    transition: 1s;
}
#num:hover{
    color: brown;
    box-shadow: 6px 5px 8px black;
    background-color: teal;
}
h1{
    color:white;
}