/* .box{
    display: flex;
    justify-content: center;
    width: auto;
    height: 50px;
    position: sticky;
    border:1px solid black;
    background-color: teal;
}
 .box ul{
    display: flex;
    list-style: none;
 }  
.box ul li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    font-weight: bold;
 } 
.box ul li a{ 
     text-decoration: none;
    color: darkgray;
    padding: 8px 25px;
    transition: .8s; 
}
.box ul li a:hover{
    background-color: tomato;
    color: black;
    box-shadow: 0 0 10px black;
} */
/* .menulist{ */
    /* border: 1px groove black; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* position: absolute; */
    /* width: 550px; */
    /* height: 600px; */
    /* background-color: tomato; */
    /* box-shadow: 5px 5px 8px 8px black; */
    /* justify-content: center; */
    /* top: 150px; */
    /* left: 35%; */
    /* border: 0 groove red; */
    /* font-size: 25px; */
    /* transition:  1s; */
/* } */
/* .menulist ul li { */
    /* left: 2px; */
    /* text-align: left; */
/* } */
/* #MC{ */
    /* justify-content: center; */
    /* width: auto; */
    /* border:1px solid black; */
    /* background-color: tomato; */
    /* box-shadow: 5px 5px 8px 8px black; */
    /* transition: .8s; */
/* } */
/* #MC:hover{ */
    /* background-color: brown; */
    /* color: white; */
    /* box-shadow: 0 0 10px rgb(207, 88, 88); */
/* } */
/* .menu{ */
    /* color: black; */
    /* font-style: italic ; */
    /* font-weight: 900; */
/* } */
/* img{
    width: 500px;
    height: auto;
    margin: 5px;
    border: 6px double black;
} */
.box{
    display: flex;
    padding: 2px;
    justify-content: center; 
    width: auto;
    height: 50px;
    position: sticky;
    border:1px solid black;
    background-color: rgb(105, 116, 116);
}
 .box ul{
    display: flex;
    list-style: none;
 }  
.box ul li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
 } 
.box ul li a{ 
     text-decoration: none;
    color: darkgray;
    padding: 8px 25px;
    transition: .8s;
    margin-top: 1p;
}
.box ul li a:hover{
    background-color: tomato;
    color: black;
    box-shadow: 0 0 10px black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 60%;
}

body{
    font-family: 'popons', sans-serif;
    background-color: rgb(27,27,27);
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
}

 header{
    height: 90vh;
    position: relative;
}



/* .navbar-box{ */
    /* display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.heading-tertiary{
    font-size: 3.5rem;
}

.navbar-list{
    list-style: none;
    font-size: 2rem; */
/* }  */

/* .navbar-item{
    display: inline-block;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}

.navbar-link:hover{
    background-color: #da6b1d;
    color: white;
    
}


.navbar-link-book:link{
    text-decoration: none;
    color: white;
    padding: 2rem 3.5rem;
    border: 1px solid #da6b1d;
    border-radius: 200px;
    box-shadow: 0 0 1rem rgba(236, 118, 40, .5);
    text-shadow: 0 .3rem 1rem rgba(255,255,255, .5); */
    /* transition: all .4s ease;
}

.navbar-link-book:hover{
    background-color: #da6b1d;
    color: white;
}


.heading-primary{
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}

#restaurant{
    color: #da6b1d;
    font-weight: 800;
    font-size: 8rem;
}

.lead{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 4px;
}

.book-now:visited, */
/* .book-now:link{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    margin-top: 4rem;
    border: 1px solid white;

    border-radius: 100px;
    transition: all .3s ease;
    box-shadow: 0 1rem 1rem rgba(240,107,55, .1);
    text-shadow: 0 1rem 1rem rgba(0,0,0,.6);
}

.book-now:hover{
    background-color: #da6b1d;
    border: 1px solid white;
    box-shadow: 0 0 2rem rgba(240,107,55, .8);
}*/

/* MENU */

.menu{
    width: 100%;
    padding: 1rem 2rem;
    /* background-image: linear-gradient(to right bottom, rgb(255, 81, 0), rgba(255,0,0,.5)); */
}

.menu-heading{
    font-size: 10rem;
    text-align: center;
    /* text-shadow: 0 0 rem rgba(0,0,0,.9); */
    text-transform: inherit;
    color:black;
    font-weight: 800;
    top: 5px;
    font-style:normal;
    line-height: 2;
    letter-spacing: 0.5rem;
    
}

.menu-grid{
    display: grid;
    grid-template-rows:repeat(2, 2fr) ;
    grid-template-columns: repeat(4, 2fr);
    justify-self: center;
    grid-gap: 2rem;
}
.menu-Bengoli-sweets-img{
    top: 0%;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://i1.wp.com/www.faskitchen.com/wp-content/uploads/2016/07/chicken-handi-recipe.jpg?w=670&ssl=1");
}
.menu-Karnatak-img{
    top: 0%;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://thefoodhog.com/wp-content/uploads/2020/03/Chicken-Masala-Curry-735x651.jpg");
}
.menu-gujrati-sweet-img{
    top: 0%;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://recipesofhome.com/wp-content/uploads/2020/03/chicken-curry-recipe-720x720.jpg");
}
.menu-kaju-katri-img{
    top: 0%;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://www.spiceindiaonline.com/wp-content/uploads/2021/05/Tandoori-Chicken-20.jpg");
}
.menu-kalakand-img{
    top: 0%;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHDc-Q9tys1vs5COFt__Sf8Bzpx-17Nr0pgw&usqp=CAU");
}
.menu-jalebi-img{
    top: 0%;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC1E7KP81plY3q87rroW-kyFiLVmRW28POHg&usqp=CAU");
}
.menu-ladoo-img{
    top: 0%;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://www.indianhealthyrecipes.com/wp-content/uploads/2014/09/butter-chicken-500x500.jpg");
}
.menu-img{
    top: 0%;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://punampaul.com/wp-content/uploads/2018/08/Afghani-Chicken.jpg");
}

.menu-container{
    width: 100%;
    height: 50rem;
    background-color:thistle;
    border-radius: 7px;
    border-color: black;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    transition: all .4s ease;
}

.menu-container:hover{
    box-shadow: 0 0 5rem rgba(0,0,0,.4);
    transform: scale(1.07);
}

.menu-p{
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
}

.menu-title{
    font-size: 3rem;
    text-align: center;
}

.price{
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: #da6b1d;
    text-shadow: 0 .4rem 2rem rgba(0,0,0,.4);
}
