body{
    background-color: #34495e;
    margin: 0px;
    padding: 0px;
} 
.box{
    display: flex;
    justify-content: center;
    width: auto;
    height: 50px;
    position: sticky;
    border:1px solid black;
    background-color: teal;
}
 .box ul{
    display: flex;
    list-style: none;
 }  
.box ul li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    font-weight: bold;
 } 
.box ul li a{ 
     text-decoration: none;
    color: darkgray;
    padding: 8px 25px;
    transition: .8s; 
}
.box ul li a:hover{
    background-color: tomato;
    color: black;
    box-shadow: 0 0 10px black;
}
#form{
    margin:100px;
    font-family: sans-serif;
}
.rating{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
}
.rating input{
    display: none;
}

.rating label{
    width: 80px;
    cursor: pointer;
    display: block;
    padding-left:10px;
}
.rating label::before{
       content: "\f005";
       font-family: 'Font Awesome 5 Free';
       font-weight: 900;
       position: relative;
       font-size: 50px;
       display: block;
       color: #1d1c1c;
}
.rating label::after{
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 50px;
    position: absolute;
    top: 0;
    opacity: 0;
    display: block;
    color: #1f9cff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.rating label:hover::after,
.rating label:hover ~ label::after,
.rating input:checked ~ label::after{
    opacity: 1;
}
